// Reset

body, html, ul, ol {
    margin: 0;
    padding: 0;
}

// General

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(1,1,1,0.9);
    color: #fff;
}

.bg-light {
    background-color: #eee;
    color: #222;
}

footer {
    text-align: center;
    padding: {
        top: 1em;
        bottom: 1em;
    }
}

// mixins

@mixin blur($value) {
    filter: blur($value);
    -webkit-filter: blur($value);
}