// Reset

body, html, ul, ol {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(1,1,1,0.9);
    color: #fff;
}

// mixins

@mixin blur($value) {
    filter: blur($value);
    -webkit-filter: blur($value);
}